/.gradle
/build
/*/build
Hyper_Launcher_v3/src/main/assets/components/jre
/Hyper_Launcher_v3/src/main/assets/components/jre-new/
/Hyper_Launcher_v3/src/main/assets/components/jre-21/
local.properties
.idea/
Hyper_Launcher_v3/.cxx/
.vs/
/curseforge_key.txt
/Hyper_Launcher_v3/curseforge_key.txt
/Hyper_Launcher_v3/libs/ltw-release.aar
.artifacts/
*.log
Hyper_Launcher_v3/full/
Hyper_Launcher_v3/src/main/jni/glfw
Hyper_Launcher_v3/src/main/jni/mojoexec
Hyper_Launcher_v3/src/main/jni/sdl
